/* .make-admin-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* .make-admin-form input,
.make-admin-form button,
.make-admin-form select {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid gray;
  outline: 0;
} */

.make-admin-form {
  padding: 25px 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.make-admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
